.TableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
    width: 1000px;

}

.TableContainer .rdt_Table {
    /*width: 100%;*/
}

.TableContainer .rdt_Pagination {
    margin-top: 20px; /* Add space between table and pagination */
    display: flex;
    justify-content: center; /* Center the pagination below the table */
}