.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: fit-content;
    flex-grow: 1;
    height: 100%;

}

.main-content {
    flex-grow: 2;
    margin: 20px;
}