.selectable-cell {
    user-select: text; /* Enable text selection */
}

.cell-content {
    white-space: nowrap; /* Prevent wrapping for easier copying */
    overflow: hidden;
    text-overflow: ellipsis;
}
.p-m-4 {
    margin: 1.5rem;
    width: 800px;
    height: 70%;
    overflow: scroll;
}